# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

# graph
*.dot

# ide
.idea/
*.iml
.gitpod.yml

vendor/

# build
_build*
build/bundles/
build/yamls/
build/charts/
kclvm_build/
kclvm_build/build/
dist/

__kclcache__/
__pycache__/
_python37_home_/

# kusion
/kusion
/kclvm
/VERSION
/kclopenapi
.kclvm/
kusion_state*.json
kusion_state*.yaml

# Vscode
__debug_bin
.vscode/
zz_*

# version
*z_update_version.go

# startup script
start.sh
air.toml

# frontend
frontend/
