.nav_logo {
  display: flex;
  align-items: center;
  margin-right: 30px;

  .nav_logo_img {
    width: 72px;
    height: 24px;
    margin-right: 8px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}