@import "@/variable.less";

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;

  .nav {
    height: 64px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    // background: #fff;
    background: #2667FF;

    .nav_left {
      display: flex;
      align-items: center;
      flex: 1;
    }
  }

  .body_wrapper {
    flex: 1;
    overflow: auto;
    background: #f5f7fa;
    padding: 24px;
  }
}

.github_corner:hover .octo_arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (width <=500px) {
  .github_corner .octo_arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github_corner:hover .octo_arm {
    animation: none;
  }
}