.markdown_view_container {
  position: relative;
  .markdown_view_copy {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .markdown_container {
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}