.kusion_workspace_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.kusion_workspace_search {
  background: #fff;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.kusion_workspace_content {
  padding-top: 20px;
  border-top: 1px solid #f1f1f1;

  .kusion_card_content_desc {
    display: -webkit-box;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    cursor: pointer;
  }
}